<app-banner
  imageUrl="assets/banners/banner-reciclaje.png"
  title="SISTEMA DE GESTIÓN DE RESIDUOS"
  subtitle="Transformando residuos en recursos para un futuro sostenible."
></app-banner>

<section class="text-gray-600 body-font overflow-hidden bg-white">
  <div class="container px-5 py-16 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-100 object-cover object-center rounded-lg shadow-lg" src="assets/images/home/joven-reciclando.jpg">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-green-700 text-3xl title-font font-medium mb-7">¿POR QUÉ ES IMPORTANTE EL MANEJO DE RESIDUOS?</h1>
        <p class="leading-relaxed">El manejo adecuado de residuos es fundamental porque protege el medio ambiente al reducir la contaminación y conservar los recursos naturales, mejora la salud pública previniendo enfermedades y manteniendo entornos limpios, y beneficia la economía generando empleos y reduciendo costos mediante el reciclaje. Además, fomenta la sostenibilidad promoviendo la economía circular y reduciendo la huella de carbono, y asegura el cumplimiento de normativas legales evitando sanciones y garantizando prácticas responsables.</p>
      </div>
    </div>
  </div>
  
  <div class="container px-10 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h2 class="text-3xl font-medium title-font mb-4 text-green-700">¿CÓMO FUNCIONA NUESTRO PROCESO DE GESTIÓN DE RESIDUOS?</h2>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">El proceso de gestión de residuos que hemos diseñado consta de varias etapas:</p>
    </div>
    <div class="carousel-container">
      <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide-item m-2">
          <div class="flex rounded-lg h-full bg-green-300 bg-opacity-25 p-8 flex-col shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img [src]="slide.imageUrl" alt="Imagen de {{ slide.title }}" class="w-full h-48 object-cover object-center mb-4">
            <h2 class="text-lg text-green-700 font-medium mb-2">{{ slide.title }}</h2>
            <p class="text-base text-gray-700 leading-relaxed">{{ slide.description }}</p>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
