<app-banner
  imageUrl="assets/banners/banner-reciclaje.png"
  title="Sistema de gestión de Residuos"
  subtitle="Transformando residuos en recursos para un futuro sostenible."
></app-banner>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="text-3xl text-center text-gray-900 font-medium mb-8">¿Cómo funciona nuestro proceso de gestión de residuos?</h2>
    <p class="text-lg text-center text-gray-900 leading-relaxed mb-12">El proceso de gestión de residuos que hemos diseñado consta de varias etapas:</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <ng-container *ngFor="let stage of stages">
        <div class="bg-white border border-gray-200 rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img [src]="stage.imageUrl" alt="Imagen de {{ stage.title }}" class="w-full h-64 object-cover object-center">
          <div class="p-6">
            <h2 class="text-lg text-gray-900 font-medium mb-3">{{ stage.title }}</h2>
            <p class="text-base text-gray-700 leading-relaxed">{{ stage.description }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap max-w-screen-lg">
    <h2 class="text-gray-900 text-3xl mb-8 w-full text-center title-font font-medium">¿Como funciona nuestro proceso gestión de residuos?</h2>
    <p class="text-lg leading-relaxed text-gray-900 mb-8 text-center">El proceso de gestión de residuos que hemos diseñado consta de varias etapas:</p>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Generación de Residuos:</h2>
            <p class="leading-relaxed text-base">Esta etapa se refiere a la producción de residuos sólidos en diferentes sectores de la sociedad, como hogares, industrias, comercios, hospitales, entre otros. La cantidad y tipo de residuos generados dependen de factores como la ubicación geográfica, la densidad poblacional, el nivel de industrialización y los hábitos de consumo.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/generacion-de-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Almacenamiento de Residuos:</h2>
            <p class="leading-relaxed text-base">Los residuos sólidos generados se almacenan temporalmente en contenedores o recipientes adecuados antes de ser recolectados. Es importante que el almacenamiento se realice de forma segura para evitar problemas de salud y contaminación ambiental.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/almacenamiento-de-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Recolección de Residuos:</h2>
            <p class="leading-relaxed text-base">En esta fase, los residuos sólidos son recolectados y transportados desde los puntos de almacenamiento hasta las instalaciones de tratamiento o disposición final. La recolección puede ser realizada por entidades públicas o privadas, dependiendo del sistema de gestión de residuos de cada localidad.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/recoleccion-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Transporte de Residuos:</h2>
            <p class="leading-relaxed text-base">Una vez recolectados, los residuos son transportados hacia las plantas de tratamiento, reciclaje, o disposición final. El transporte debe cumplir con normativas y regulaciones para evitar derrames, accidentes y la emisión de contaminantes durante el trayecto.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/transporte-residuos.jpeg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Tratamiento de Residuos:</h2>
            <p class="leading-relaxed text-base">En esta etapa, los residuos sólidos son sometidos a diferentes procesos de tratamiento con el objetivo de reducir su volumen, recuperar materiales reciclables y convertir residuos orgánicos en compost o biogás.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/tratamiento-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Disposición Final de Residuos:</h2>
            <p class="leading-relaxed text-base">Los residuos que no pueden ser reciclados ni tratados son llevados a vertederos controlados o incinerados, asegurando que su disposición final se realice de manera segura y minimizando el impacto ambiental.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/disposicion-final-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex h-full border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Planificación de la Gestión de Residuos:</h2>
            <p class="leading-relaxed text-base">El proceso de gestión de residuos sólidos comienza con la planificación. Esta etapa incluye la identificación de fuentes de generación de residuos, la estimación de la cantidad y tipo de residuos generados, y el diseño de estrategias para su manejo adecuado.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="h-full">
          <img src="assets/images/home/monitoreo-residuos.jpg" alt="Descripción de la imagen" class="w-full h-full object-cover rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        </div>
      </div>
    </div>
  </div>
</section>




