<app-signup-modal></app-signup-modal>
<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative p-4 w-full sm:max-w-md h-full md:h-auto">
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-100 sm:p-5">
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-green-600 dark:text-green-700">
          Iniciar sesión
        </h3>
        <button
          type="button"
          class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-100 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-100 dark:hover:text-green-600"
          (click)="toggleModal()"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <form class="space-y-4" (ngSubmit)="save()">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-700">Correo electrónico:</label>
          <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" required>
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-700">Contraseña:</label>
          <input formControlName="password" type="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="flex justify-between">
          <p class="text-sm font-light text-gray-500 dark:text-gray-600 py-2">
            ¿No estás registrado? <a (click)="openSignUpModal()" class="font-medium text-green-600 dark:text-green-700 hover:underline" (click)="toggleModal()">Registrarse</a>
          </p>
          <button type="submit" [disabled]="isSaving" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-90 fixed inset-0 z-40 bg-black"></div>
