<section class="banner">
  <div
    class="bg-cover bg-center bg-blue-500 text-white relative py-20"
    style="background-image: url('assets/banners/banner-collention-points.jpg')"
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container mx-auto text-center relative z-1">
      <h1 class="text-4xl md:text-6xl font-bold mb-5 py-2">
        Innovación en la recolección de residuos
      </h1>
      <p class="text-lg md:text-xl mb-2 py-2">
        Soluciones inteligentes para un ambiente sostenible
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-green-500 tracking-widest font-medium title-font mb-1">RECOLECCIÓN DE RESIDUOS</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Descubre cómo funciona nuestro proceso de recolección de residuos</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Horarios de recolección</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Conoce los horarios en los que pasamos por tu comunidad para recolectar los residuos.</p>
            <button class="mt-3 text-green-500 inline-flex items-center bg-transparent border border-green-500 rounded-md py-2 px-4 hover:bg-green-500 hover:text-white" (click)="mostrarHorariosInfo = !mostrarHorariosInfo">Más información
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
             <div class="flex-grow" *ngIf="mostrarHorariosInfo">
              <div class="py-4 text-lg leading-relaxed">
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Lunes</h3>
                  <p>Recolección de residuos orgánicos de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Martes</h3>
                  <p>Recolección de residuos reciclables de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Miércoles</h3>
                  <p>Recolección de residuos no reciclables de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Jueves</h3>
                  <p>Recolección de residuos peligrosos de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Viernes</h3>
                  <p>Recolección de residuos orgánicos de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Sábado</h3>
                  <p>Recolección de residuos reciclables de 7:00 AM a 10:00 AM.</p>
                </div>
                <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
                  <h3 class="text-xl font-semibold">Domingo</h3>
                  <p>No hay servicio de recolección.</p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Tipos de residuos aceptados</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Descubre qué tipos de residuos aceptamos en nuestra campaña de recolección.</p>
            <button class="mt-3 text-green-500 inline-flex items-center bg-transparent border border-green-500 rounded-md py-2 px-4 hover:bg-green-500 hover:text-white" (click)="mostrarResiduosInfo = !mostrarResiduosInfo">Más información
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
        <div class="flex-grow" *ngIf="mostrarResiduosInfo">
          <div class="py-4 text-lg leading-relaxed">
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold ">Residuos Orgánicos</h3>
              <p>Residuos de origen biológico que se descomponen naturalmente, como restos de alimentos y poda de jardines.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">Residuos Reciclables</h3>
              <p>Materiales que pueden ser reprocesados para fabricar nuevos productos, como plásticos, vidrio, papel, y metales.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">Residuos Peligrosos</h3>
              <p>Materiales que pueden ser dañinos para la salud y el medio ambiente, como productos químicos, baterías y electrónicos.</p>
            </div>
          </div>
         </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Proceso de recolección</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Conoce en detalle cómo realizamos el proceso de recolección de residuos en tu comunidad.</p>
            <button class="mt-3 text-green-500 inline-flex items-center bg-transparent border border-green-500 rounded-md py-2 px-4 hover:bg-green-500 hover:text-white" (click)="mostrarProcesoInfo = !mostrarProcesoInfo">Más información
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
        <div class="flex-grow" *ngIf="mostrarProcesoInfo">
          <div class="py-4 text-lg leading-relaxed">
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">1. Recolección</h3>
              <p>Los residuos se recogen de los hogares, oficinas, y otros puntos de generación.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">2. Transporte</h3>
              <p>Los residuos recogidos se transportan a las estaciones de transferencia o plantas de tratamiento.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">3. Clasificación</h3>
              <p>En las plantas de tratamiento, los residuos se clasifican en orgánicos, reciclables y no reciclables.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">4. Tratamiento</h3>
              <p>Los residuos orgánicos se compostan, los reciclables se procesan y los no reciclables se disponen adecuadamente.</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-md mb-4 shadow-md">
              <h3 class="text-xl font-semibold">5. Disposición Final</h3>
              <p>Los residuos no reciclables y peligrosos se llevan a rellenos sanitarios o incineradores para su disposición final segura.</p>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex flex-col justify-center items-center">
  <div class="text-center">
    <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold">Mapa de Recolección de Residuos</h1>
  </div>
  <div class="text-center mt-4">
    <h2 class="text-lg md:text-xl ">Encuentra Puntos de Reciclaje Cerca de Ti</h2>
  </div>
</div>


<div class="flex flex-col md:flex-row justify-center md:justify-start p-0 md:p-10">
  
  <!-- Mapa -->
  <div id="map" class="w-full md:w-3/4 h-64 md:h-auto border border-gray-300">
    <google-map
      [height]="'100%'"
      [width]="'100%'"
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions"
    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [icon]="marker.icon"
        [options]="{ draggable: marker.draggable }"
        (mapClick)="updateMarkerPosition(marker, $event)"
      ></map-marker>
      <map-polyline [path]="paths" [options]="polylineOptions"></map-polyline>
    </google-map>
  </div>
  
  <!-- Panel lateral -->
  <div class="w-full md:w-2/4 bg-gray-100 p-4">
    <div *ngIf="userLoginOn && isAdmin">
    <!-- Buscador -->
    <input #addressInput type="text" placeholder="Buscar..." class="w-full p-2 mb-4 border border-gray-300 rounded">
    
    <!-- Selector de rutas -->
    <select class="w-full p-2 mb-4 border border-gray-300 rounded" [(ngModel)]="selectedRoute" (change)="onRouteChange()">
      <option *ngFor="let route of routes" [ngValue]="route">{{ route.name }}</option>
    </select>
    
   <!-- Contenedor para los botones -->
<div class="flex justify-between" >
  <button class="w-1/3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 mx-2" (click)="geocodeAddress(addressInput.value)">Agregar</button>
  <button class="w-1/3 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-4 mx-2" (click)="openCreateRouteModal()">Crear Ruta</button>
  <button class="w-1/3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-4 mx-2" (click)="deleteRoute()">Eliminar Ruta</button>
</div>
    </div>
    <!-- Tabla -->
    <div class="w-full bg-gray-100 bg-opacity-90 p-4" style="max-height: 300px; overflow-y: auto;">
      <table class="w-full border-collapse border border-gray-300">
        <thead>
          <tr>
            <th class="border border-gray-300 p-2 text-gre">RUTA DE RECOLECCIÓN</th>
            <th class="border border-gray-300 p-2" *ngIf="userLoginOn && isUser || isAdmin">ACCIONES</th> <!-- Celda vacía para el botón -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marker of markers; let i = index" class="odd:bg-gray-100 even:bg-white" >
            <td class="border px-4 py-2">{{ marker.address }}</td>
            <td class="border px-4 py-2" *ngIf="userLoginOn && isUser || isAdmin" >
              <div *ngIf="userLoginOn && isUser">
              <button class="inline-block p-2 text-gray-700 hover:bg-gray-200 focus:relative" (click)="openCreateReport(marker)" >
                <svg fill="#000000" viewBox="0 0 48 48" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <title></title>
                    <path d="M40,47H8a2,2,0,0,1-2-2V3A2,2,0,0,1,8,1H40a2,2,0,0,1,2,2V45A2,2,0,0,1,40,47ZM10,43H38V5H10Z"></path>
                    <path d="M15,19a2,2,0,0,1-1.41-3.41l4-4a2,2,0,0,1,2.31-.37l2.83,1.42,5-4.16A2,2,0,0,1,30.2,8.4l4,3a2,2,0,1,1-2.4,3.2l-2.73-2.05-4.79,4a2,2,0,0,1-2.17.25L19.4,15.43l-3,3A2,2,0,0,1,15,19Z"></path>
                    <circle cx="15" cy="24" r="2"></circle>
                    <circle cx="15" cy="31" r="2"></circle>
                    <circle cx="15" cy="38" r="2"></circle>
                    <path d="M33,26H22a2,2,0,0,1,0-4H33a2,2,0,0,1,0,4Z"></path>
                    <path d="M33,33H22a2,2,0,0,1,0-4H33a2,2,0,0,1,0,4Z"></path>
                    <path d="M33,40H22a2,2,0,0,1,0-4H33a2,2,0,0,1,0,4Z"></path>
                  </g>
                </svg>
              </button>
              </div>
              <div *ngIf="userLoginOn && isAdmin">
              <button class="inline-block p-2 text-gray-700 hover:bg-gray-200 focus:relative" (click)="removeMarker(i)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                </svg>
              </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section class="bg-white py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-col text-center w-full mb-12">
      <h2 class="text-3xl font-medium title-font mb-4 text-gray-900">Beneficios del Reciclaje</h2>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">El reciclaje es fundamental para la sostenibilidad ambiental, ya que reduce la cantidad de residuos en vertederos, conserva recursos naturales, ahorra energía y reduce la emisión de gases de efecto invernadero.</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 md:w-1/3">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <img src="assets/images/waste/conservacion.jpg" alt="Conservación de Recursos" class=" h-60 mb-4 mx-auto">
          <h3 class="title-font font-medium text-lg text-gray-900">Conservación de Recursos</h3>
          <p class="leading-relaxed text-base">El reciclaje reduce la necesidad de extraer, refinar y procesar materias primas, lo que disminuye la contaminación y el impacto ambiental.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <img src="assets/images/waste/conservar-energia.jpg" alt="Ahorro de Energía" class=" h-60 mb-4 mx-auto">
          <h3 class="title-font font-medium text-lg text-gray-900">Ahorro de Energía</h3>
          <p class="leading-relaxed text-base">Reciclar materiales requiere menos energía que producir nuevos productos desde materias primas vírgenes, lo que ayuda a conservar energía.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <img src="assets/images/waste/reduccion-co2.jpg" alt="Reducción de CO2" class="h-60 mb-4 mx-auto">
          <h3 class="title-font font-medium text-lg text-gray-900">Reducción de CO2</h3>
          <p class="leading-relaxed text-base">El reciclaje ayuda a reducir las emisiones de gases de efecto invernadero que contribuyen al cambio climático, promoviendo un futuro más limpio y sostenible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
