<app-banner 
  imageUrl="assets/banners/banner-waste.png"
  title="GESTIÓN EFICIENTE DE RESIDUOS"
  subtitle="Implementando Soluciones Inteligentes para un manejo responsable de residuos."
></app-banner>


<app-waste-modal *ngIf="(isAdmin || isEmploye) && userLoginOn"></app-waste-modal>

<app-waste-chart *ngIf="userLoginOn && isUser"></app-waste-chart>

<app-waste-tips [userLoginOn]="userLoginOn"></app-waste-tips>

<app-waste-table [userLoginOn]="userLoginOn" [isAdmin]="isAdmin" [isEmploye]="isEmploye"></app-waste-table>

